
<section class="anime-list-container">
  <section *ngFor="let anime of searchAnimes" class="anime-list">
      <img [src]="anime.images.jpg.image_url" (click)="navigateToAnimeDetails(anime.mal_id)" class="anime-img">
       <section class="anime-info">
        <h2>{{anime.title}}</h2>
        <h3>Rank #{{anime.rank}}</h3>
        <h3>Score: {{anime.score}}</h3>
        <h4>{{anime.type}} ({{anime.episodes}}) episodes</h4>
        <h4>{{anime.aired.string}}</h4>
        <h4>mal members: {{anime.members}}</h4>
      </section>
  </section>
    
</section>
<footer class="pagination" [class]="themeService.themeSignal() === 'dark' ? 'light' :'dark'">
  <button (click)="prevPage()" [disabled]="currentPage === 1" class="nav-btn">Previous</button>

  <span>Page</span>
  <input type="number" [(ngModel)]="inputPage" (keydown.enter)="goToPage()" min="1" [max]="totalPages" />
  <span>of {{ totalPages }}</span>

  <button (click)="nextPage()" [disabled]="!hasNextPage" class="nav-btn">Next</button>
</footer>
