<section class="register-container" @fadeAnimation>
    <header>
        <img [src]="themeService.bgImage" class="bgImage">
        <h1>Bocchify.</h1>
    </header>
    <input placeholder="Username" type="text" class="input" [(ngModel)]="usernameInput">
    <input placeholder="Email" type="email" class="input" [(ngModel)]="emailInput">
    <input placeholder="Password" type="password" class="input" [(ngModel)]="passwordInput">
    <button class="register-btn" (click)="registerFunc()">Register</button>
    <a class="login-link" routerLink="/login">login page</a>
</section>
