<header>
    <div *ngIf="burgerMenuService.burgerMenu() === false" class="box1">
      <img [src]="'/Bochi.jpeg'" alt="Bocchify" class="logo" > 
      <h1>Bocchify.</h1>
    </div>

    <div class="box2">
      <input class="search" placeholder="Search..." [class]="themeService.themeSignal() === 'dark' ? 'light' :'dark'">
      <img src="/search.png" alt="search" class="glass">
    </div>

    <div class="registration-login-container">
      <button class="register" [class]="themeService.themeSignal() === 'dark' ? 'light' :'dark'">Register</button>
      <hr class="vertical">
      <button class="login" [class]="themeService.themeSignal() === 'dark' ? 'light' :'dark'">Login</button>
    </div>

    <img *ngIf="burgerMenuService.burgerMenu() === false" (click)="toggleMenu()" class="burger-menu-img" src="/menu.png" alt="menu-img">

    <div *ngIf="burgerMenuService.burgerMenu() === false" class="mode-container">
      <input class="slide" [class]="themeService.themeSignal() === 'dark'? 'light' : 'dark'" readonly disabled>
      <Theme-Button class="theme-btn" [class]="themeService.themeSignal() === 'dark' ? 'slide-left' : 'slide-right'"></Theme-Button>
    </div>
    
</header>
