<header>
  <div class="box1">
    <img src="/Bochi.jpeg" class="logo" *ngIf="!isPixelArt()" />
    <img
      src="/PixelArt/bocchi-logo-pixel.png"
      class="logo"
      *ngIf="isPixelArt()"
    />
    <p>Bocchify</p>
  </div>
  <div class="box2">
    <input
      type="search"
      class="search-input"
      [style.backgroundColor]="currentTheme().backgroundColor"
    />
    <img src="search-logo.png" class="search-logo" *ngIf="!isPixelArt()" />
    <img
      src="/PixelArt/search-logo-pixel.png"
      class="search-logo-pixel"
      *ngIf="isPixelArt()"
    />
  </div>
  <div class="user-box">
    <p>username</p>
    <img src="/guest-pfp.jpg" class="user-pfp" *ngIf="!isPixelArt()" />
    <img
      src="/PixelArt/guest-pfp-pixel.png"
      class="user-pfp"
      *ngIf="isPixelArt()"
    />
  </div>
  <div class="box3">
    <button
      class="login-btn"
      [style.backgroundColor]="currentTheme().backgroundColor"
    >
      Login
    </button>
    <button
      class="community-btn"
      [style.backgroundColor]="currentTheme().backgroundColor"
    >
      Community
    </button>
  </div>
  <img src="burger-menu.png" class="burger-menu-logo" *ngIf="!isPixelArt()" />
</header>
