<header>
    <div class="box1">
      <img [src]="'/Bochi.jpeg'" alt="Bocchify" class="logo" > 
      <h1>Bocchify.</h1>
    </div>

    <div class="box2">
      <input class="search" placeholder="Search...">
      <img src="/search.png" alt="search" class="glass">
    </div>

    <img class="small-menu-img" src="/menu.png" alt="menu-img">

    <div class="mode-container">
      <input class="slide" [class]="themeService.themeSignal() === 'dark'? 'light' : 'dark'" readonly disabled>
      <Theme-Button class="theme-btn" [class]="themeService.themeSignal() === 'dark' ? 'slide-left' : 'slide-right'"></Theme-Button>
    </div>
    
</header>
