<header>
  <div class="box1">
    <img
      src="/Bochi.jpeg"
      class="logo"
      *ngIf="!isPixelArt()"
      (click)="goToMain()"
    />
    <img
      src="/PixelArt/bocchi-logo-pixel.png"
      class="logo"
      *ngIf="isPixelArt()"
      (click)="goToMain()"
    />
    <p>Bocchify</p>
  </div>
  <div class="box2">
    <input
      type="search"
      class="search-input"
      [(ngModel)]="searchQuery"
      (keydown.enter)="search()"
      [style.backgroundColor]="currentTheme().backgroundColor"
    />
    <img
      src="search-logo.png"
      class="search-logo"
      *ngIf="!isPixelArt()"
      (click)="search()"
    />
    <img
      src="/PixelArt/search-logo-pixel.png"
      class="search-logo-pixel"
      *ngIf="isPixelArt()"
      (click)="search()"
    />
  </div>
  <app-theme-control-component></app-theme-control-component>
</header>
