<header>
    <div *ngIf="burgerMenuService.burgerMenu() === false" class="box1">
      <img [src]="'/Bochi.jpeg'" alt="Bocchify" class="logo" > 
      <h1>Bocchify.</h1>
    </div>

    <div class="box2">
      <input [(ngModel)]="searchQuery" type="search" class="search" placeholder="Search..." [ngClass]="themeService.themeSignal()">
      <img (click)="onSearch()" src="/search.png" alt="search" class="glass">
      
    </div>

    <div class="registration-login-container">
      <button class="register" [ngClass]="themeService.themeSignal()">Register</button>
      <hr class="vertical">
      <button class="login" [ngClass]="themeService.themeSignal()">Login</button>
    </div>

    <img *ngIf="burgerMenuService.burgerMenu() === false" (click)="toggleMenu()" class="burger-menu-img" src="/menu.png" alt="menu-img">

    <div *ngIf="burgerMenuService.burgerMenu() === false" class="mode-container">
      <input class="slide" [ngClass]="themeService.themeSignal()"readonly disabled>
      <Theme-Button class="theme-btn" [ngClass]="slideClass" (click)="handleAnimation()"></Theme-Button>
    </div>
    
</header>
