.bocchi
{
    background-color: #f5a2b5;
}
.ryo
{
    background-color: #0675c9;
}
.nikija
{
    background-color: #e8e805;
}
.ikuyo
{
    background-color: #e80c05;
}
.user-info-container
{
    display: flex;
    align-items: start;
    justify-content: start;
    background-color: white;
    border-radius: 8px;
    width: 100%;
    height: 100%;
    padding: 3px;
    gap: 10px;
    overflow-y: scroll;
}
.aside-small{
    display: none;
}
hr{
    height: 100%;
    margin: 0px;
    margin-left: 10px;
}
.user-info-section
{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}
.user-header
{
    display: flex;
    align-items: center;
    justify-content:start;
    gap: 20px;
    width: 100%;
}
.image-container
{
    position: relative;
}
.pfp
{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    cursor: pointer;
    object-fit: cover;
}
.change-pfp-btn
{
    cursor: pointer;
    border: none;
    padding: 15px;
    border-radius: 8px;
    width: 50%;
    text-wrap: wrap;
}
.username-input-container
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    @media (min-width:640px) {
        width: 250px;
    }

}
.username-input
{
    padding: 13px;
    border-radius: 8px;
    width: 200px;
    text-wrap: wrap;
    max-width: 300px;
}
.email-input
{
    white-space: normal;
    word-wrap: break-word;
    overflow-wrap: break-word;
}
.editable
{
    cursor: pointer;
    width: 25px;
    height: 25px;
    
}
.camera
{
    position: absolute;
    bottom: 10px;
    right: -5px;
    cursor: pointer;
    width: 30px;
    height: 30px;
}

h1{
    cursor: pointer;
}

.user-creds-container
{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}
.action-msg
{
    font-size: small;
}
.save-changes-btn
{
    cursor: pointer;
    padding: 13px;
    border-radius: 8px;
    border: none;
}
.forgot-password
{
    cursor: pointer;
}
.loading-container
{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.loading{
    width: 200px;
    height: 200px;
}

@media (max-width:640px) {

    .camera{
      right: 20px;
      width: 45px;
      height: 45px;
    }
    .pfp{
        width: 200px;
        height: 200px;
    }
    .aside-small
    {
        width: 100%;
        display: flex;
        flex-direction: column;
        background-color: white;
        border-radius: 9px;
        padding: 3px;
    }
    .aside,.hr{
        display: none;
    }
    .menu
    {
        font-size: large;
    }    
    .user-creds-container
    {
        align-items: center;
        justify-content: center;
    }
    .email-input-container
    {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
   .user-header,.user-info-section
   {
    flex-direction: column;
    align-items: center;
    justify-content: center;
   }
   .change-pfp-btn
   {
    width: 55%;
   }
    
}

@media (max-width:450px) {
    .email-input
    {
        font-size: small;
    }
}


@media (max-width:410px) {
    .menu
    {
        font-size: small;
    } 
    .email-input
    {
        font-size: x-small;
    }
}
