<main class="user-info-container">
    <aside>
        <h1>Profile</h1>
        <h1>Settings</h1>
    </aside>
    <hr>
        <section class="user-info-section" *ngIf="selectedPage === 'Profile'">
            <h1>Public Profile</h1>
            <header class="user-header">
                <div class="image-container">
                   <img src="/black-camera.png" class="camera" (click)="handleCamMenu()">
                   <img [src]="capturedImage || profilePicture || '/Pfp.jpeg'" class="pfp" alt="Profile Picture">                   
                </div>
                <input [ngClass]="themeService.themeSignal()" class="change-pfp-btn" accept="image/*" type="file" (change)="onImageSelected($event)">
            </header>
            <section class="user-creds-container">
                <div class="email-input-container">
                    <input type="email" [value]="email" class="email-input" readonly>
                </div>
                <div class="username-input-container">
                    <input type="text" name="test" class="username-input"[(ngModel)]="username" [readOnly]="isReadOnly">
                    <p *ngIf="!isReadOnly" class="action-msg">Updating Username</p>
                    <img src="/edit-text.png" class="editable" (click)="handleReadOnly()">
                </div>
                <p (click)="goToForgotPassword()" class="forgot-password">forgot your password?</p>
            </section>
            <button [ngClass]="themeService.themeSignal()" class="save-changes-btn" (click)="updateProfile()">Save Changes</button>
        </section>
</main>
