<main class="user-info-container">
    <aside>
        <h1 (click)="selectedPage = 'Profile'">Profile</h1>
        <h1 (click)="selectedPage = 'Favourite'">Favourites</h1>
    </aside>
    <hr>
        <app-favourites-list *ngIf="selectedPage === 'Favourite'"></app-favourites-list>
        <section class="user-info-section" *ngIf="selectedPage === 'Profile'">
            <div class="loading-container" *ngIf="isLoading">
              <img [src]="this.themeService.loadingImage" class="loading">  
            </div>
            <ng-container *ngIf="!isLoading">
              <h1>Public Profile</h1>
              <header class="user-header">
                <div class="image-container">
                    <img [src]="themeService.cameraColor" class="camera" (click)="handleCamMenu()">
                    <img [src]="capturedImage || profilePicture || '/Pfp.jpeg'" class="pfp" alt="Profile Picture">                   
                </div>
                <input [ngClass]="themeService.themeSignal()" class="change-pfp-btn" accept="image/*" type="file" (change)="onImageSelected($event)">
            </header>
            <section class="user-creds-container">
                <textarea class="email-input" readonly>{{ email }}</textarea>
                <div class="username-input-container">
                    <textarea name="test" class="username-input" [(ngModel)]="username" [readonly]="isReadOnly"></textarea>
                    <p *ngIf="!isReadOnly" class="action-msg">Updating Username</p>
                    <img src="/edit-text.png" class="editable" (click)="handleReadOnly()">
                </div>
                <p (click)="goToForgotPassword()" class="forgot-password">forgot your password?</p>
            </section>
            <button [ngClass]="themeService.themeSignal()" class="save-changes-btn" (click)="updateProfile()">Save Changes</button>

            </ng-container>
        </section>
</main>
