<section @fadeAnimation class="container">
  <div class="login-container" *ngIf="!isLoading">
    <header>
      <img [src]="themeService.bgImage" class="bgImage" />
      <h1>Bocchify.</h1>
    </header>
    <input
      placeholder="Email"
      type="email"
      class="input"
      [(ngModel)]="emailInput"
    />
    <input
      placeholder="Password"
      type="password"
      class="input"
      [(ngModel)]="passwordInput"
    />
    <button
      class="login-btn"
      (click)="loginFunc()"
      [ngClass]="themeService.themeSignal()"
    >
      login
    </button>
    <a class="register-link" routerLink="/register">registration page</a>
    <a class="forgot-password-link" routerLink="/forgot-password"
      >forgot password</a
    >
  </div>
  <img *ngIf="isLoading" [src]="themeService.loadingImage" />
</section>
