

.box1
{
    width: 80%;
    height: 100%;
    border-radius: 10px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 15px;
    @media (max-width:500px) {
      width: 100%;
    }
}
.box1-header
{
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: start;
    gap: 10px;
    background-color: #f5a2b5;
    padding: 5px;
    border-radius: 8px;
}
.box1-header button{
    padding: 10px;
    border: none;
    background: none;
    cursor: pointer;
}
.top-anime-container
{
    width: 100%;
    @media (max-width: 1020px) {
      display: flex;    
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
}

swiper-container
{
    width: 100%;
}
swiper-slide
{
    display: flex;
    align-items: center;
    justify-content: center;
}


.dark
{
    background-color: #8c52ff;
}
.light
{
    background-color: #f5a2b5
}
