<div class="box1">
sidebar here
</div>

<div class="box2">
    <div class="box2-header" [ngClass]="themeService.themeSignal() === 'dark' ? 'light' : 'dark'">
      <button>Openings</button>
      <button>Endings</button>
      <button>SoundTracks</button>
      <button>Animes</button>
    </div>
    <div *ngIf="OpeningsDefault" class="Openings-Default-Box">
      <h2>Bleach Openings</h2>
      <swiper-container slides-per-view="3" space-between="10">
        <swiper-slide *ngFor="let opening of youtubeService.BleachOpenings" class="slide">
          <img *ngIf="opening.snippet?.thumbnails?.medium?.url" 
               [src]="opening.snippet.thumbnails.medium.url" 
               alt="Bleach Opening" class="op-img">
          <img src="/play-btn.png" class="play-img">     
        </swiper-slide>
      </swiper-container>
      
    </div>


    <div *ngIf="EndingsDefault" class="Endings-Default-Box"></div>
    <div *ngIf="SoundTracksDefault" class="SoundTracks-Default-Box"></div>
    <div *ngIf="AnimesDefault" class="Animes-Default-Box"></div>
</div>
