
<div class="box1">
    <div class="box1-header" [ngClass]="themeService.themeSignal() === 'dark' ? 'light' : 'dark'">
      <button>Top Animes</button>
      <button>Top Mangas</button>
    </div>

    <div class="top-anime-container">
      <h2>Top Animes:</h2>
      <swiper-container slides-per-view="1" space-between="20" [breakpoints]="{
        '1020': { 'slidesPerView': 2 },
        '1400':{'slidesPerView': 3}
      }"
        >
        <swiper-slide *ngFor="let anime of topAnimes">
          <app-anime-card [anime]="anime"></app-anime-card>
        </swiper-slide>
      </swiper-container>
    </div>

</div>
