
<header class="burger-menu-header">
    <section class="box1">
        <img [src]="'/Bochi.jpeg'" alt="Bocchify" class="logo" > 
        <h1 class="title">Bocchify.</h1>
    </section>
</header>


<section class="registration-login-container">
    <button class="register" [ngClass]="themeService.themeSignal()">Register</button>
    <p>Or</p>
    <button class="login" [ngClass]="themeService.themeSignal()">Login</button>
</section>

<footer>
    <section class="mode-container" >
        <input class="slide"  readonly disabled [ngClass]="themeService.themeSignal()">
        <Theme-Button class="theme-btn" [ngClass]="slideClass" (click)="handleAnimation()"></Theme-Button>
    </section>
    <button class="closeBtn" (click)="burgerMenuService.toggleMenu()" >Close</button>
</footer>

