<section class="container">
  <div class="loading-container" *ngIf="isLoading">
    <img [src]="this.themeService.loadingImage" class="loading">  
  </div>
  <ng-container *ngIf="!isLoading">
    <header>
      <img [src]="themeService.bgImage" class="bgImage">
      <h1>Forgot Your Password</h1>
    </header>
    <input type="email" placeholder="Your Email adress" class="email-input" [(ngModel)]="email">
    <button class="reset-password-btn" [ngClass]="themeService.themeSignal()" (click)="sendPasswordChangeRequest()">Reset my password</button>
  </ng-container>
</section>
