<div class="landing-container">
  <div class="landing-header">
    <img
      [src]="isPixelArt() 
        ? currentTheme().smallImagePixel 
        : currentTheme().smallImage"
      class="theme-btn"
      (click)="themeService.cycleTheme()"
    />
    <img
      [src]="isPixelArt() ? '/PixelArt/power-pixel.png': '/PixelArt/poweroff-pixel.png'"
      class="pixel-art-btn"
      (click)="themeService.togglePixelMode()"
    />
  </div>
  <div class="box1">
    <img
      [src]="currentTheme().backgroundImage"
      *ngIf="!isPixelArt()"
      class="landing-image"
    />
    <img
      [src]="currentTheme().backgroundImagePixel"
      *ngIf="isPixelArt()"
      class="landing-image"
    />

    <div class="headings-box">
      <h1 class="hero-heading">
        <span>Welcome To</span>
        <span>Bocchify!</span>
      </h1>
      <hr />
      <h2 class="sub-hero-heading">
        <span>anime/manga</span>
        <span>community.</span>
      </h2>
    </div>
  </div>
</div>
<app-custom-swiper [data]="animeData"></app-custom-swiper>
<app-custom-swiper [data]="mangaData"></app-custom-swiper>
