.landing-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  color: white;
  padding-top: 20px;
}
.box1 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: calc(100% - 1000px);
}
.headings-box {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.hero-heading,
.sub-hero-heading {
  text-align: center;
  width: 100%;
}

.hero-heading span {
  display: block;
  font-size: 50px;
}
.sub-hero-heading span {
  display: block;
  font-size: 30px;
}
hr {
  width: 90%;
  border: 1px solid white;
  border-radius: 50%;
}
.landing-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
}
.theme-btn {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  cursor: pointer;
}
.pixel-art-btn {
  width: 50px;
  height: 50px;
  cursor: pointe;
}
.landing-image {
  width: 450px;
}
