@font-face {
  font-family: "Pixelify Sans";
  src: url("/fonts/PixelifySans-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: 0.2s;
}

img {
  user-select: none;
  -webkit-user-drag: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-drag: none;
}

app-root {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

app-landing-page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 1000px;
  gap: 60px;
  margin-bottom: 30px;
}
app-register-page {
  position: absolute;
  top: 20%;
  width: 600px;
  max-width: 600px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

app-custom-swiper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  max-width: 1000px;
  height: 200px;
}
app-swiper-slide {
  height: 100%;
}
app-theme-control-component {
  width: 100%;
}
app-top-anime-page,
app-top-manga-page,
app-anime-search,
app-manga-search {
  width: 90%;
  max-width: 900px;
}
app-anime-details,
app-manga-details {
  width: 100%;
  height: 100%;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;
  max-width: 1078px;
}

.normal-font {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.pixel-font {
  font-family: "Pixelify Sans", sans-serif;
}
.bocchi {
  background: #f5a2b5;
}
.ryo {
  background: #0675c9;
}
.ikuyo {
  background: #e80c05;
}
.nikija {
  background: #e8e805;
}

.ikuyo-inputs input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px #e80c05 inset !important;
}

.ryo-inputs input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px #0675c9 inset !important;
}

.nikija-inputs input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px #e8e805 inset !important;
}

.bocchi-inputs input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px #f5a2b5 inset !important;
}
