<section class="Form" >
    <div class="box1" [class]="themeService.themeSignal() === 'dark' ? 'light' : 'dark'">
        <img [src]="'/Bochi.jpeg'" alt="Bocchify" class="logo">
        <div class="title-box">
          <h1>Welcome To</h1>
          <h1>Bocchify</h1>
        </div>
    </div>
    <div class="box2">
      
        
        <Login *ngIf="!isRegistering && isLogin" class="login"></Login>
    
        <Register *ngIf="!isLogin && isRegistering" class="register"></Register>
        
        <div class="guest-login">
           <p *ngIf="!isRegistering && isLogin" (click)="toggleRegister()" class="Trigger">Create Account</p>
           <p *ngIf="!isLogin && isRegistering" (click)="toggleLogin()" class="Trigger">Login</p>
           <hr>
           <p>continue as a guest</p>
        </div>
    </div>
</section>