.container
{
  display: flex;
  align-items: center;
  justify-content: center;
}

.dark
{
  background-color: #f5a2b5
    
}

.light
{
  background-color: #8c52ff;
}

.gif
{
  height: 130px;
  width: 140px;
  border-radius: 30px;
  transition: 0.5s;
  cursor: pointer;
}