<header class="manga-details-header">
    <h1 class="manga-title-english">English Title: {{mangaDetails.title_english}}</h1>
    <h2 class="manga-title-japanese">Japanese Title: {{mangaDetails.title_japanese}}</h2>
</header>

<main class="manga-details-main">
  <aside class="manga-sidebar">
    <section class="manga-information-mobile">
      <img [src]="mangaDetails.images.jpg.image_url" class="manga-img" alt="manga image">
      <div class="box1">
        <div class="box5">
          <p class="title">Information</p>
          <div class="loading-container" *ngIf="isLoading">
            <img [src]="this.themeService.loadingImage" class="loading">  
          </div>
          <img *ngIf="!isLoading" [src]=" favourited ? '/star-removebg-preview.png' : '/empty-star-removebg-preview.png'" class="star" (click)="addToFavouritesFunc(mangaDetails.mal_id)">
         </div>
         <hr>
        <p>Type: {{mangaDetails.type}}</p>
       <p>Chapters: {{mangaDetails.chapters ?? "Unknown"}}</p>
       <p>Volumes: {{mangaDetails.volumes ?? "Unknown"}}</p>
       <p>Status: {{mangaDetails.status}}</p>
       <p>Published: {{mangaDetails.published.string}}</p>
       <p>Genres:</p>
        <ul>
          <li *ngFor="let genre of mangaDetails.genres">
             <a [href]="genre.url" target="_blank">{{genre.name}}</a>
          </li>
        </ul>

        <p>Authors:</p>
        <ul>
          <li *ngFor="let author of mangaDetails.authors">
             <a [href]="author.url" target="_blank">{{author.name}}</a>
          </li>
        </ul> 
        
        <p>Themes:</p>
        <ul>
          <li *ngFor="let theme of mangaDetails.themes">
             <a [href]="theme.url" target="_blank">{{theme.name}}</a>
          </li>
        </ul> 
      </div>
    </section>
    <section class="manga-information">
      <img [src]="mangaDetails.images.jpg.image_url" class="manga-img" alt="manga image">
      <div class="box5">
        <p class="title">Information</p>
        <div class="loading-container" *ngIf="isLoading">
           <img [src]="this.themeService.loadingImage" class="loading">  
        </div>
        <img *ngIf="!isLoading" [src]=" favourited ? '/star-removebg-preview.png' : '/empty-star-removebg-preview.png'" class="star" (click)="addToFavouritesFunc(mangaDetails.mal_id)">
       </div>
       <hr>
       <p>Type: {{mangaDetails.type}}</p>
       <p>Chapters: {{mangaDetails.chapters ?? "Unknown"}}</p>
       <p>Volumes: {{mangaDetails.volumes ?? "Unknown"}}</p>
       <p>Status: {{mangaDetails.status}}</p>
       <p>Published: {{mangaDetails.published.string}}</p>
       <p>Genres:</p>
        <ul>
          <li *ngFor="let genre of mangaDetails.genres">
             <a [href]="genre.url" target="_blank">{{genre.name}}</a>
          </li>
        </ul>

        <p>Authors:</p>
        <ul>
          <li *ngFor="let author of mangaDetails.authors">
             <a [href]="author.url" target="_blank">{{author.name}}</a>
          </li>
        </ul> 
        
        <p>Themes:</p>
        <ul>
          <li *ngFor="let theme of mangaDetails.themes">
             <a [href]="theme.url" target="_blank">{{theme.name}}</a>
          </li>
        </ul> 
    
    </section>
  </aside>

  <section class="manga-details-section">
    <header class="manga-miniheader">
      <div class="rank">
        Rank #{{mangaDetails.rank}}
      </div>
      <div class="score">
        Score: {{mangaDetails.score}}
      </div>
      <div class="scored-by">
        Scored By: {{mangaDetails.scored_by}} MAL users
      </div>
    </header>
    <h3>Synopsis</h3>
    <hr>
    <p class="synopsis">{{mangaDetails.synopsis}}</p>
    <h3>Background</h3>
    <hr>
    <p class="synopsis">{{mangaDetails.background}}</p>
  </section>
</main>
